{% extends "base.html" %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" style="align-items: center">
        {% for post in post_list%}
            <div class="card " style="width: 40rem; border-radius: 0;">
                <a href="{% url 'post-detail' post.pk %}">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="image"
                     style="border-radius: 0; height: 30rem; ">
                </a>
                <div class="card-body">
                    <p class="card-text">{{ post.description }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text"> Created: {{ post.created }} by {{ post.author }}</p>
                </div>
            </div>
            <br/>
    {#        <p>{{ post.author }}</p>#}
    {#        <p><img src="{{ post.image.url }}" alt="image" style="width: 300px"></p>#}
    {#        <p>{{ post.description }}</p>#}
    {#        <p>{{ post.created }}</p>#}
        {% endfor %}

    </div>
{% endblock %}