{% load static %}

<div class="navbar-light d-flex justify-content-around" style="background: white">
    <div class="d-flex align-items-center">
        <a class="nav-link text-dark" href="{% url 'board' %}">
            <img src="{% static 'icons/inst-logo.png' %}" width="100" height="30" alt="logo"></a>
    </div>
    <div class="d-flex justify-content-around">
        <a class="nav-link text-dark " href="{% url 'board' %}"><span class="material-icons" style="font-size: 32px;">
            home</span></a>
        <a class="nav-link text-dark " href="#">
            <span class="material-icons" style="font-size: 32px">account_circle</span>

        </a>

    </div>
</div>
