{% extends 'base.html' %}

{% block title %}
    {{ customuser.first_name }} (@{{ customuser.username }})
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-evenly">
        <div>
            <img class="round" src="{{ customuser.avatar.url }}" alt="avatar">
        </div>
        <div>
           <h3>{{ customuser.username }}</h3>
        </div>
        <div>
            <a href="{% url 'profile-update' customuser.pk %}">
                <button type="button" class="btn btn-dark" style="border-radius: 0;">Update Profile</button>
            </a>
        </div>
    </div>
    <div class="container">
        {% for post in all_posts %}
            <div class="image">
                <a href="{% url 'post-detail' post.pk %}">
                    <img src="{{ post.image.url }}" alt="image" style="height: 300px; width: 300px">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}